<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page title</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>emi's blog</h1>
        <nav>
          <a>example link</a>
          <a>example link</a>
          <a>example link</a>
        </nav>
        <hr>
      </header>
      <main>
        <h2>posts</h2>
        <div class="summary">
          <h3><a href="#">this post is a potato</a></h3>
          <p>potato tomato avocado</p>
          <p>posted by emi</p>
        </div>
        <div class="summary">
          <h3><a href="#">this post is a potato</a></h3>
          <p>potato tomato avocado</p>
          <p>posted by emi</p>
        </div>
      </main>
    </div>
  </body>
</html>
