* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: rgb(219, 156, 255);
  --secondary: rgb(45, 40, 62);
  --accent: white;
}

a:visited {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: color-mix(in srgb, var(--secondary), black 50%);
}

.container {
  background-color: var(--secondary);
  margin: 0 20vw;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}

header {
  cursor: default;
  color: var(--primary);
  padding-bottom: 1rem;
}

header a {
  text-decoration: none;
}

header .languages {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: .5rem;
}

header .languages a {
  display: inline-flex;
}

header .languages :last-child {
  padding-right: .75rem;
}

header h1 {
  text-align: center;
  padding-bottom: 2rem;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

header nav a, header nav a:visited {
  text-decoration: none;
  color: color-mix(in srgb, var(--primary), black 20%);
}

header hr {
  color: color-mix(in srgb, var(--primary), black 50%);
}

main {
  color: var(--accent);
  padding-left: 1rem;
}

main .page-title {
  padding-bottom: 1rem;
  color: var(--accent);
}

main .summary {
  text-decoration: none;
  padding-left: .5rem;
  padding-bottom: .75rem;
  color: color-mix(in srgb, var(--accent), black 15%);
}

main .summary:hover {
  color: var(--accent);
}

main .summary h3 {
  font-size: x-large;
  padding-bottom: .2rem;
  color: var(--primary);
}

main .summary:hover h3 {
  color: color-mix(in srgb, var(--primary), white 30%);
}

main .summary hr {
  margin-top: .75rem;
  color: color-mix(in srgb, var(--primary), black 50%);
  margin-left: -1rem;
}

main .summary:visited hr {
  all: unset;
  color: color-mix(in srgb, var(--primary), black 50%);
}

main .pagination {
  color: var(--accent);
  display: flex;
  padding: 2rem 0;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

main .pagination span {
  cursor: pointer;
}

main .pagination .pages {
  cursor: default;
}

.centered-message {
  justify-content: center;
  display: flex;
  color: var(--accent);
}

main .page-title {
  cursor: default;
  font-size: xx-large;
  color: var(--accent);
  padding-bottom: 1rem;
}

main .post-title {
  cursor: default;
  font-size: xx-large;
  color: var(--accent);
  padding-bottom: .25rem;
}

main .post-info {
  color: color-mix(in srgb, var(--accent), black 40%);
  padding-bottom: 1rem;
}

main article {
  color: color-mix(in srgb, var(--accent), black 10%);
  font-size: large;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
}

main article :is(h1, h2, h3, h4, h5, h6) {
  margin: 1rem 0;
}

main article blockquote {
  margin: 1rem;
  margin-right: 2rem;
  background-color: color-mix(in srgb, var(--secondary), black 25%);
}

main article :is(ol, ul) {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

main article p {
  margin-bottom: 1rem;
}

main article pre {
  margin-bottom: 1rem;
}

main article code {
  background-color: color-mix(in srgb, var(--primary), black 60%);
}

main article pre code {
  display: block;
  margin-right: 2rem;
  border-color: black;
  border-radius: 16px;
  padding: .5rem;
}