* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: rgb(191, 91, 249);
  --secondary: rgb(45, 40, 62);
  --accent: white;
}

a:visited {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: color-mix(in srgb, var(--secondary), black 50%);
}

.container {
  background-color: var(--secondary);
  margin: 0 20vw;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}

header {
  cursor: default;
  color: var(--primary);
  padding-bottom: 1rem;
}

header a {
  text-decoration: none;
}

header .languages {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: .5rem;
}

header .languages a {
  display: inline-flex;
}

header .languages :last-child {
  padding-right: .75rem;
}

header h1 {
  text-align: center;
  padding-bottom: 2rem;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

header nav a {
  text-decoration: none;
  color: var(--primary);
}

header hr {
  color: var(--accent);
}

main {
  padding-left: 1rem;
}

main h2 {
  padding-bottom: 1rem;
  color: var(--accent);
}

main .summary {
  text-decoration: none;
  padding-left: .5rem;
  padding-bottom: .75rem;
  color: var(--accent);
}

main .summary:hover {
  color: color-mix(in srgb, var(--primary), white 50%);
}

main .summary:visited hr {
  all: unset;

}

main .summary {
  padding-left: .5rem;
  padding-bottom: .75rem;
}

main .summary h3 {
  font-size: x-large;
  padding-bottom: .2rem;
  color: var(--primary);
}

main .summary hr {
  margin-top: .75rem;
  color: var(--primary);
}

main .pagination {
  color: var(--accent);
  display: flex;
  padding: 2rem 0;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.centered-message {
  justify-content: center;
  display: flex;
}

main article {
  color: var(--accent);
}